---
- hosts: localhost
  gather_facts: false

  vars:
    my_name: "RomM CIFS"
    my_file: "install_romm_cifs"
    module_name: "romm_cifs"
    system_key: "romm"
    script_url: 'https://raw.githubusercontent.com/minorOffense/romdirflattener/refs/heads/main/flatten-romdir.sh'
    script_dest: "{{ retronas_root }}/bin/flatten-romdir.sh"
    fattenerscript: "retronas-romm-dirs"

    top_level_paths:
      - { name: "roms",   enabled: yes,  generic: "roms",   systems: yes }

    templates:
      - { name: "retronas-romm-dirs.sh", dest: "{{ retronas_root }}/scripts", mode: "0755" }
      - { name: "retronas-romm-dirs.service", dest: "/etc/systemd/system" }
      - { name: "retronas-romm-dirs.timer", dest: "/etc/systemd/system" }

    systemd_units:
      - { name: "retronas-romm-dirs", type: 'service', state: "stopped", enabled: "no", restart: "no", instance: "no" }
      - { name: "retronas-romm-dirs", type: 'timer',   state: "stopped", enabled: "no", restart: "no", instance: "no" }

  tasks:

    - name: "{{ my_name }} - Load RetroNAS config"
      ansible.builtin.include_vars: retronas_vars.yml

    - name: "{{ my_name }} - get update script"
      ansible.builtin.shell: curl -kLso "{{ script_dest }}" {{ script_url }}

    - name: "{{ my_name }} - make script executable"
      file:
        path: "{{ script_dest }}"
        mode: '0755'

    - ansible.builtin.import_role:
        name: retronas.role.romdir

    - ansible.builtin.import_role:
        name: retronas.role.samba

    - ansible.builtin.import_role:
        name: retronas.role.samba.system
      vars:
        nolink: true

    - name: "Import system-config role"
      ansible.builtin.import_role:
        name: retronas.role.system-config

    - name: Run flatten-romdir.sh for each src/dest (no top_level)
      ansible.builtin.shell: "{{ retronas_root }}/bin/flatten-romdir.sh {{ retronas_path }}/roms/{{ item.src }} {{ retronas_path }}/{{ system_key }}/roms/{{ item[system_key] }}"
      become: true
      loop: "{{ system_map }}"
      when: top_level_paths is defined and
            item[system_key] is defined and
            item[system_key] | length > 0

  handlers:

    - name: "{{ my_name }} daemon-reload"
      ansible.builtin.systemd:
        daemon_reload: true
